# Weather Trends Observed At YVR-Airport 2016-2017

Weather data was collected at YVR International Airport located in Richmond British Columbia.
Images of the weather were taken at English Bay in Vancouver British Columbia.

In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
#Read and merge data from csv files
def readMergeData(drop_null=True):
    files = [f for f in sorted(glob.glob("./yvr-weather/*"))]

    data_set = pd.read_csv(files[0], sep=',', skiprows=16, parse_dates=[0])
    for i in range(1,13):
        weather_data = pd.read_csv(files[i], sep=',', skiprows=16, parse_dates=[0])
        data_set = data_set.append(weather_data)

    return data_set

#Drop unnecessary columns
def CleanWeatherData(weather_data):
    weather_data.drop(["Date/Time","Day","Time","Temp Flag", "Dew Point Temp Flag",
                     "Rel Hum Flag", "Wind Dir Flag", "Wind Spd Flag",
                     "Visibility Flag", "Stn Press Flag",
                     "Hmdx Flag", "Wind Chill Flag", "Hmdx", "Wind Chill",
                     "Data Quality"], axis=1, inplace=True)

### Preview of raw data obtained from YVR weather csv file

In [3]:
weather_data = readMergeData()
weather_data.head(10)

,Date/Time,Year,Month,Day,Time,Data Quality,Temp (°C),Temp Flag,Dew Point Temp (°C),Dew Point Temp Flag,...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,2016-06-01 00:00:00,2016,6,1,00:00,‡,14.9,NaN,13.8,NaN,...,NaN,32.2,NaN,101.28,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-06-01 01:00:00,2016,6,1,01:00,‡,15.1,NaN,13.8,NaN,...,NaN,32.2,NaN,101.26,NaN,NaN,NaN,NaN,NaN,Cloudy
2,2016-06-01 02:00:00,2016,6,1,02:00,‡,15.1,NaN,12.8,NaN,...,NaN,32.2,NaN,101.25,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-06-01 03:00:00,2016,6,1,03:00,‡,14.8,NaN,11.0,NaN,...,NaN,32.2,NaN,101.27,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-06-01 04:00:00,2016,6,1,04:00,‡,14.0,NaN,10.6,NaN,...,NaN,32.2,NaN,101.23,NaN,NaN,NaN,NaN,NaN,Mostly Cloudy
5,2016-06-01 05:00:00,2016,6,1,05:00,‡,13.8,NaN,10.4,NaN,...,NaN,32.2,NaN,101.24,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-06-01 06:00:00,2016,6,1,06:00,‡,14.6,NaN,9.7,NaN,...,NaN,48.3,NaN,101.25,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-06-01 07:00:00,2016,6,1,07:00,‡,16.1,NaN,10.5,NaN,...,NaN,48.3,NaN,101.30,NaN,NaN,NaN,NaN,NaN,Mostly Cloudy
8,2016-06-01 08:00:00,2016,6,1,08:00,‡,16.4,NaN,10.8,NaN,...,NaN,48.3,NaN,101.31,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-06-01 09:00:00,2016,6,1,09:00,‡,17.8,NaN,11.2,NaN,...,NaN,48.3,NaN,101.29,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Clean up the description 
def CleanDescription(weather):

    regex_string = "(Freezing[\s]+)*(Heavy[\s]+)*(Moderate[\s]+)*(Mostly[\s]+)*(Mainly[\s]+)*([\s]+Showers)*([\s]+Pellets)*"
    weather["Weather"] = weather["Weather"].str.replace(regex_string, "")

    rain_snow = "Rain,Snow"
    weather["Weather"] = weather["Weather"].str.replace(rain_snow, "Snow")

    no_thunder = "Thunderstorms"
    weather["Weather"] = weather["Weather"].str.replace(no_thunder, "Cloudy")

    no_drizzle = "Drizzle"
    weather["Weather"] = weather["Weather"].str.replace(no_drizzle, "Cloudy")
    #weather["Weather"].replace("", np.nan, inplace=True)

    #remove artifically generated weather string
    remove = "Rain,Cloudy"
    weather["Weather"] = weather["Weather"].str.replace(remove, "Rain")
    
    remove = "Ice" #classify ice as snow?
    weather["Weather"] = weather["Weather"].str.replace(remove, "Snow")

    fog = "Cloudy,Fog"
    weather["Weather"] = weather["Weather"].str.replace(fog, "Fog")

    snow_fog = "Snow,Fog"
    weather["Weather"] = weather["Weather"].str.replace(snow_fog, "Fog")

    rain_fog = "Rain,Fog"
    weather["Weather"] = weather["Weather"].str.replace(rain_fog, "Fog")

In [5]:
CleanWeatherData(weather_data)
CleanDescription(weather_data)

#Discard all rows with null value
weather_data.dropna(axis=0, inplace=True)
monthly = weather_data.groupby(["Month", "Year"]).aggregate(["mean"])
desc = weather_data[["Year", "Month", "Weather"]]
monthly_weather = desc.groupby(["Month","Weather"]).aggregate(["count"])

In [6]:
monthly_weather

                   Year
                  count
Month Weather
1     Clear          75
      Cloudy        142
      Fog             9
      Rain           83
2     Clear          53
      Cloudy        120
      Fog            20
      Rain           66
      Rain,Snow       1
      Snow           66
      Snow,Fog        1
3     Clear          25
      Cloudy        143
      Fog            32
      Rain          205
      Snow           14
4     Clear          49
      Cloudy        132
      Fog             3
      Rain          158
5     Clear          93
      Cloudy        126
      Fog            13
      Rain           78
6     Clear         122
      Cloudy        243
      Fog            14
      Rain           93
7     Clear         110
      Cloudy        124
      Cloudy,Rain     1
      Fog             2
      Rain           38
8     Clear         146
      Cloudy         97
      Fog            11
      Rain           18
9     Clear         108
      Cloudy        112
      Fog             7
      Rain           64
10    Clear          36
      Cloudy        150
      Fog            22
      Rain          179
11    Clear          21
      Cloudy        148
      Fog            18
      Rain          198
12    Clear          74
      Cloudy        101
      Fog            47
      Rain          108
      Snow           57